
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_materializeLayoutLogin.cshtml";
}

<script src="~/Assets/angularjs/Pages/Login/app.js"></script>
<script src="~/Assets/angularjs/Pages/Login/appCtrl.js"></script>
<main>
    <div ng-controller="LoginAppCtrl">
        <div style="position:absolute; margin-top:40px; width:340px; margin-left:37%;" ng-if="loginController.model.flagLogin > 0 ? true : false">
            <loading-screen1 toggle="preLoaderController.Toggle" style="width:100%; height:100%; position:absolute; top:0px; left:0px;"></loading-screen1>
            <card-container1 style="margin:auto; box-shadow:none !important; width:340px !important;">
                <div class="row" style="text-align:center">
                    <h3 style="letter-spacing:8px; color:#0474bc; font-weight:bolder;">Chronoid</h3>
                    <h4 style="color:#b6b6b6;">{{loginController.model.flagDisplay}}</h4>
                    <h4 style="color:red">{{loginController.model.response}}</h4>
                </div>
                <div class="row">
                    <text-box3 label="'Username'" placeholder="'Username'" type="'text'" output="loginController.model.username"></text-box3>
                </div>
                <div class="row">
                    <text-box3 label="'Password'" placeholder="'Password'" type="'password'" output="loginController.model.password"></text-box3>
                </div>
                <div class="row">
                    <button1 style="width:100%;  background-color:#f67d20 !important;" label="'Log in'" event="loginController.Login()"></button1>
                </div>
            </card-container1>
        </div>
        <!--Login Slot-->
        <div>
            <div class="row">
                <drop-down2 icon="'mdi-action-find-replace'" items="loginController.options" event="loginController.ShowLogin"></drop-down2>
            </div>
        </div>



</div>
</main>

