<div class="" style="border: 1px solid #dddddd; border-radius:10px !important; width:100%">
    <div class="col-lg-12" style="border-top-left-radius:10px; border-top-right-radius:10px; background-color: #d9e0e4; height:100px; width:95% !important; margin-left:2.5% !important;">
        <h3 style="padding-top:40px; padding-left:20px;">{{header}}</h3>
    </div>
    <div class="row" style="height:100% !important; width:100% !important;">
        <div class="col-lg-12">
            <div ng-transclude style="padding-top:20px; padding-bottom:0px !important;"></div>
        </div>
    </div>
</div>