<div class="my-modal modal1" ng-show="controller.isShow" ng-class="controller.class" style="width:200px">
    <link rel="stylesheet" type="text/css" href="/Assets/angularjs/components/Modals/Modal1/style.css" />
    <div class="my-backdrop" style="width:100%">
    </div>
        <div class="my-modal-header" style="height:25%; padding-bottom:20px !important;">
            <h3 class="title">{{title}}</h3>
        </div>
        <div class="my-modal-content">
            <div ng-transclude style="width:100%">
            </div>
        </div>
        <div class="my-modal-footer">
            <div class="button-container row">
                <button class="send-color padding-0px button-cancel btn waves-effect" ng-click="controller.SaveModal()" style="background-color:#0474bc !important;">Save</button>
                <button class="send-color padding-0px button-send btn waves-effect" ng-click="controller.CloseModal()" style="background-color:#0474bc !important;">Cancel</button>
            </div>
        </div>
</div>
