<div class="row" style="padding: 0px; margin: 0px;">
        <link rel="stylesheet" type="text/css" href="/Assets/angularjs/components/UserInputs/Textbox3/style.css" />

        <div class="row" style="padding: 10px; margin: 0px;">
            <div class="input-field col s12" style="padding: 0px; margin: 0px;">
                <!--<i class="{{icon}} prefix active" style="font-size:25px; color:#00EDED;"></i>-->
                <input id="name" type="{{type}}" ng-model="output" style="font-size:15px;">
                <label class="active" style="font-size:15px; ">{{label}}</label>
            </div>
        </div>
</div>