<main>
    <h1>Users Page</h1>
    <table id="data-table-simple" class="responsive-table display dataTable" role="grid" aria-describedby="data-table-simple_info" cellspacing="0">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="data-table-simple" rowspan="1" colspan="1" style="width: 156px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name</th>
                <th class="sorting" tabindex="0" aria-controls="data-table-simple" rowspan="1" colspan="1" style="width: 254px;" aria-label="Position: activate to sort column ascending">Position</th>
                <th class="sorting" tabindex="0" aria-controls="data-table-simple" rowspan="1" colspan="1" style="width: 113px;" aria-label="Office: activate to sort column ascending">Office</th>
                <th class="sorting" tabindex="0" aria-controls="data-table-simple" rowspan="1" colspan="1" style="width: 46px;" aria-label="Age: activate to sort column ascending">Age</th>
                <th class="sorting" tabindex="0" aria-controls="data-table-simple" rowspan="1" colspan="1" style="width: 99px;" aria-label="Start date: activate to sort column ascending">Start date</th>
                <th class="sorting" tabindex="0" aria-controls="data-table-simple" rowspan="1" colspan="1" style="width: 86px;" aria-label="Salary: activate to sort column ascending">Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" ng-repeat="item in usersController.list" ng-class="$index%2 == 0 ? 'even' : 'odd'">
                <td class="sorting_1">{{item.FirstName}} {{item.LastName}}</td>
            </tr>
        </tbody>
    </table>

</main>

